.autoSuggestInput {
  box-sizing: border-box;
  width: 26rem;
  height: 2.2rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.autoSuggestInput *{
    box-sizing: border-box;
    font-size: 1.2rem;
}

.ASI_Form{
  height: 100%;
}

.ASI_FlexContainer {
  height: 100%;
  width: 100%;
  display: flex;
}


.ASI_InputContainer {
  height: 100%;
  flex: 1;
  position: relative;
}


.ASI_Field {
  padding: 0 0 0 0.4rem;
  width: 100%;
  height: 100%;
}

.ASI_Submit {
  padding: 0 0.4rem;
  height: 100%;
}


.ASI_SuggestionContainer {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
}

.ASI_UL {
  list-style: none;
  padding: 0 0.2rem;
}
