.autoSuggestInput {
  box-sizing: border-box;
  width: 26rem;
  height: 2rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.autoSuggestInput *{
    box-sizing: border-box;
    font-size: 1.2rem;
}



.ASI_FlexContainer {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  border-radius: 0.4rem;
  border: 1px solid black;
}

.ASI_Open>.ASI_FlexContainer{
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-bottom: unset;
}


.ASI_InputContainer {
  height: 100%;
  position: relative;
  flex: 1;
}



.ASI_Field {
  height: 100%;
  padding: 0 2.2rem 0 0.4rem;
  width: 100%;
  flex: 1;
  
}

.ASI_Submit {
  padding: 0 0.4rem;
  height: 100%;
}

.ASI_SuggestionContainer{
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.ASI_SuggestionInner {
  display: block;
  z-index: 4;
  width: 100%;
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;

}

.ASI_UL {
  display: block;
  margin: 0;
  list-style: none;
  padding: 0;
}

.ASI_UL>li{
  padding-left: 0.2rem;
  cursor:  default;
  text-overflow: ellipsis;
}

.ASI_Active{
  background-color: rgba(200,200,200,1);
}

.ASI_UL>li:hover{
  background-color: rgba(200,200,200,0.3);
}
